.offers-list {
    display: flex;
    flex-flow: row wrap;
}
.content-card {
    margin:4px;
}
.card-container {
    padding:auto;
    margin:auto;
    flex:1 1 auto;
    justify-content:space-around;
}
